body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(14, 21, 31, 1);
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.datamap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 21, 31, 1);
  padding: 0 !important;
  margin: 0
}

.hidden {
  opacity: 0;
}
/***** DRAWER MENU STYLE OVERRIDES *****/

.nav-content {
  visibility: visible;
  animation-name: initialHide !important;
  animation-duration: .5s;
}

.nav-content *{
  z-index: 10;
  text-align: center;
}

@keyframes initialHide {
  from {
      visibility: hidden;
  }
  to {
    visibility: hidden;
  }
}

@keyframes moveOutUp {
  from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes moveInDown {
  from {
      opacity: 1;
      transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.css-sourceMap-modules-importLoaders-1-localIdentName-animate__fadeOutUp___3e5Sp {
  animation-name: moveOutUp !important;
  animation-duration: .5s !important;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-animate__fadeInDown___dGqol {
  animation-name: moveInDown !important;
  animation-duration: .5s !important;
}

@keyframes moveOutDown {
  from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes moveInUp{
  from {
      opacity: 1;
      transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.css-sourceMap-modules-importLoaders-1-localIdentName-animate__fadeInUp___2xZln {
  animation-name: moveInUp !important;
  animation-duration: .5s !important;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-animate__fadeOutDown___2VkMZ {
  animation-name: moveOutDown !important;
  animation-duration: .5s !important;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__drawer___2r5VH-sass {
  background-color: rgba(27, 39, 63, .9) !important;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__drawer-top___1dfbB-sass {
    width: 50vw !important;
    height: auto !important;
    text-align: center;
    padding: 0 15px;
    margin: 0 25vw;
    border-bottom: 3px solid rgba(155, 224, 255, .75);
    border-radius: 0 0 75px 75px;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__drawer-bottom___2f9G_-sass {
    z-index: 8;
    height: auto !important;
    padding: 0px 10px 10px 25px;
    border-top: 1px solid rgba(155, 224, 255, .75);
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__overlay___2QFmC-sass {
  background-color: rgba(0,0,0,.4) !important;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__hidden___12vbU-sass {
  display: block !important;
  transform: translate3d(0, -100%, 0) !important;
}

.btn, .btn:focus {
  color: rgba(155, 224, 255, .75);
  background-color: rgba(25, 25, 25, .9);
  border-color: rgba(155, 224, 255, 1);
}

.btn:hover, .btn:active  {
  color: rgba(155, 224, 255, 1) !important;
  background-color: rgba(27, 39, 63, .9) !important;
}

.zero-height {
  height: 0;
}

.playback-container {
  position: absolute;
  height: 15px;
  width: 100vw;
}

.top-right-button-playback {
  position: fixed;
  top: 5%;
  right: 0%;
  z-index: 5;
}

.playback-drawer-title {
  display: inline-block;
  margin: 15px;
  color: rgba(200, 200, 200, 1);
}

.playback-drawer-button {
  margin: 15px;
}

.playback-drawer-control {
  display: block !important;
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
  border-top: none;
  border-bottom: 2px solid rgba(155, 224, 255, .75);
  outline: none !important;
}

.config-container {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100vw;
}

.config-drawer-title {
  margin-left: 0px;
  color: rgba(200, 200, 200, 1);
}

.config-drawer-control {
  display: block !important;
  margin: 0 auto;
  border-radius: 30px 30px 0 0;
  border-top: 2px solid rgba(155, 224, 255, .75);
  border-bottom: none;
  transform: translate(0, -100%);
  outline: none !important;
}

hr {

}

hr.dark-short {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light-short {
  border-color: #fff;
  max-width: 50px;
  border-width: 3px;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #0E151F !important;
}

.bg-dark {
  background-color: #1B273F !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

.navbar-default .navbar-nav> li > a {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/tweetping.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  padding-top: 100px;
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 100px;
    padding-bottom: 0;
  }
  header.masthead h1 {
    padding-top: 200px;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    padding-top: 100px;
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.text-primary {
  color: #FFFF !important;
}

.btn-homepage {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
